<div id='post-container'> 
<video width="100%" height="auto" controls>
  <source src="/{{currentPost.videopath}}" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<div id='info-message-grid'>
		<div id='video-post-author' class='info-tags text-muted'>
			<small>Created by: <i>{{currentPost.username}}</i></small>
		</div>

		<div id='video-post-date' class='info-tags text-muted'>
			<small><time>{{currentPost.created}}</time></small>
		</div>

		<div id='video-post-title' class='info-tags'>
			<h5>{{currentPost.title}}</h5>
		</div>
		<div id='video-post-desc' class='info-tags text-muted'>
			<p><i>{{currentPost.description}}</i></p>
		</div>
	</div>

 </div>

<div id='comment-container'>
	<div id='messages' class='text-muted'>
		{{#each currentPost.comments}}
			{{> comment this}}
		{{/each}}

	</div>

	<div id='comment-area' class='form-floating text-muted'>
		<textarea
			class='form-control'
			placeholder='Leave a comment here'
			id='comment-text-area'
			onfocus="document.querySelector('label[for=comment-text-area]').innerText = '' ;"
			onmouseout="document.querySelector('label[for=comment-text-area]').innerText = 'Leave Your Comment' ;"
		></textarea>
		<label for='comment-text-area'>Leave Your Comment</label>
		<button id='comment-btn' type='button' class='btn btn-primary'><i
				class='bi bi-chat-left-dots'
			></i>
		</button>

	</div>

</div>